<% include header.ejs %>

<div class="container">
    <div class="row clearfix">
        <div class="span6 column ui-sortable">
            <blockquote>
                <p>
                <h2>上下班登记记录</h2>
                </p> <p>当前系统时间 11:32</p>
            </blockquote>
        </div>
        <div class="span6 column ui-sortable">

        </div>
    </div>
    <div class="row clearfix">
        <div class="span12 column">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>出勤时间</th>
                    <th>退勤时间</th>
                    <th>考勤状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>TB - Monthly</td>
                    <td>01/04/2012</td>
                    <td>正常考勤</td>
                </tr>
                <tr class="success">
                    <td>1</td>
                    <td>TB - Monthly</td>
                    <td>01/04/2012</td>
                    <td>正常</td>
                </tr>
                <tr class="error">
                    <td>2</td>
                    <td>TB - Monthly</td>
                    <td>02/04/2012</td>
                    <td>迟到</td>
                </tr>
                <tr class="warning">
                    <td>3</td>
                    <td>TB - Monthly</td>
                    <td>03/04/2012</td>
                    <td>早退</td>
                </tr>
                <tr class="info">
                    <td>4</td>
                    <td>TB - Monthly</td>
                    <td>04/04/2012</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<% include footer.ejs%>